body{
    background-color: #1D2D3C;
}

div.album-element{
    background-color: #112030;
    color: white;
    text-align: center;
}




header{
    background-color: #06131f;
    height: 75px;
}

header img{
    height: 45px;
}