body{
    background-color: #1D2D3C;
}

div.album-element{
    background-color: #112030;
    color: white;
    text-align: center;
}




header{
    background-color: #06131f;
    height: 75px;
}

header img{
    height: 45px;
}

div.album-element .card-body>p{
    margin-bottom: .33rem;
    font-size: .8rem;
    color: black;
}

div.modal.fade .modal-content{
    background-color: #152434;
}

div.modal.fade .modal-content img{
    background-color: #152434;
    height: 200px;
    width: 200px;
    object-fit: cover;
}